<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Company</title>
    <style>
        body {
            background-image: url('https://kurspresent.ru/assets/image-cache/images/custom-photos//kurspresent-data/475-2019-05-20/video-fon-powerpoint-animirovannyie-oblaka-kurspresent-ru.15dcaa2f.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{/api/companies/save}" th:method="post" th:object="${emptyCompany}">
    <label for="name">Name</label>
    <input id="name" type="text" th:field="${emptyCompany.companyName}" placeholder="example">
    <br><br>
    <label for="country">Country</label>
    <input id="country" type="text" th:field="${emptyCompany.locatedCountry}" placeholder="RU">
    <br><br>

    <button type="submit">save</button>

</form>
<div>
    <a th:href="@{/api/companies}">
        <button >go back</button>
    </a>
</div>

</body>
</html>
