<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update a Company</title>
</head>
<body>
<form action="#"
      th:action="@{'/api/companies/update/'+${companyId}}"
      th:method="post"
      th:object="${updateCompany}">
    <label for="name">Name</label>
    <input id="name" type="text" th:field="${updateCompany.companyName}" placeholder="example">
    <br><br>
    <label for="country">Country</label>
    <input id="country" type="text" th:field="${updateCompany.locatedCountry}" placeholder="RU">
    <br><br>

    <button type="submit">save</button>

</form>

</body>
</html>