<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Student</title>
</head>
<body>
<!--private UUID id;

    private String firstName;

    private String email;
    private String lastName;
    private StudyFormat studyFormat;
    @ManyToOne
    private Group group;-->
<form action="#"
      th:action="@{'/api/students/save/' + ${groupId}}"
      method="post"
      th:object="${emptyStudent}">

    <label for="firstName">firstName</label>
    <input id="firstName" th:field="${emptyStudent.firstName}" placeholder="example">
    <br><br>

    <label for="email">email</label>
    <input id="email" type="email" th:field="${emptyStudent.email}" placeholder="example@gmail.com">
    <br><br>

    <label for="lastName">lastName</label>
    <input id="lastName" th:field="${emptyStudent.lastName}" placeholder="example">
    <br><br>


<!--    <input type="radio" value="ONLINE" th:field="*{emptyStudent.studyFormat}" id="onlineFormat">-->
<!--    <label for="onlineFormat">online</label>-->
<!--    <input type="radio" value="OFFLINE" th:field="*{emptyStudent.studyFormat}" id="offlineFormat">-->
<!--    <label for="offlineFormat">offline</label>-->
<!--    <br><br>-->

    <label for="studyFormat">studyFormat</label>
    <input id="studyFormat"  th:field="${emptyStudent.studyFormat}" placeholder="example">
    <br><br>




    <button type="submit">save</button>
</form>

</body>
</html>