<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Student</title>
</head>
<body>
<form action="#"
      th:action="@{'/api/students/update/' +${studentId}}"
      method="post"
      th:object="${updateStudent}">

  <label for="firstName">firstName</label>
  <input id="firstName" th:field="${updateStudent.firstName}" placeholder="example">
  <br><br>

  <label for="email">email</label>
  <input id="email" th:field="${updateStudent.email}" placeholder="example">
  <br><br>

  <label for="lastName">lastName</label>
  <input id="lastName" th:field="${updateStudent.lastName}" placeholder="example">
  <br><br>

  <label for="studyFormat">studyFormat</label>
  <input id="studyFormat" th:field="${updateStudent.studyFormat}" placeholder="example">
  <br><br>

  <button type="submit">save</button>
</form>

</body>
</html>