<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Groups</title>
    <style>
        body {
            background-image: url('https://ic.pics.livejournal.com/dubikvit/65747770/7417876/7417876_900.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
<table class="table table-dark table-striped" >    <thead>
    <tr>
        <th>ID</th>
        <th>groupName</th>
        <th>dateOfStart</th>
        <th>dateOfFinish</th>
        <th>Students</th>
        <th>Actions</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="group: ${courses}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.dateOfFinish}"></td>
        <td>
            <a th:href="@{'/api/students/find/by/'+${group.id}}">
                <button>students</button>
            </a>
        </td>

        <td>
            <a th:href="@{'/api/groups/update/'+${group.id}}">
                <button>update</button>
            </a>

            <a th:href="@{'/api/groups/delete/'+${group.id}}">
                <button>delete</button>
            </a>

        </td>

    </tr>

    </tbody>
</table>

<div>
    <a th:href="@{'/api/groups/save/' + ${courseId}}">
        <button>save</button>
    </a>
</div>



<br><br>
<div>
    <a th:href="@{/api/companies}">
        <button>go back</button>
    </a>
</div>
<br><br>

<div>
    <a th:href="@{'/api/courses/find/by/'+${courses.get(0).getCourses().get(0).getCompany().id}}">
        <button>Go to Courses</button>
    </a>
</div>




</body>
</html>