<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save new group</title>
    <style>
        body {
            background-image: url('https://kurspresent.ru/assets/image-cache/images/custom-photos//kurspresent-data/475-2019-05-20/video-fon-powerpoint-animirovannyie-oblaka-kurspresent-ru.15dcaa2f.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<form action="#" th:action="@{'/api/groups/saveGroup/'+${courseId}}" method="post" th:object="${emptyGroup}">

    <label for="courseName">courseName</label>
    <input id="courseName" th:field="${emptyGroup.groupName}" placeholder="example">
    <br><br>

    <label for="dateOfStart">dateOfStart</label>
    <input id="dateOfStart" th:field="${emptyGroup.dateOfStart}" placeholder="example">
    <br><br>

    <label for="dateOfFinish">dateOfFinish</label>
    <input id="dateOfFinish" th:field="${emptyGroup.dateOfFinish}" placeholder="example">
    <br><br>


    <button type="submit">save</button>
</form>

</body>
</html></html>