<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save new group</title>
</head>
<body>
<form action="#" th:action="@{'/api/groups/saveGroup/'+${courseId}}" method="post" th:object="${emptyGroup}">

    <label for="courseName">courseName</label>
    <input id="courseName" th:field="${emptyGroup.groupName}" placeholder="example">
    <br><br>

    <label for="dateOfStart">dateOfStart</label>
    <input id="dateOfStart" type="text" th:field="${emptyGroup.dateOfStart}" placeholder="example">
    <br><br>

    <label for="dateOfFinish">dateOfFinish</label>
    <input id="dateOfFinish" type="text" th:field="${emptyGroup.dateOfFinish}" placeholder="example">
    <br><br>


    <button type="submit">save</button>
</form>

</body>
</html></html>