<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Teachers</title>
</head>
<body>
<table class="table table-bordered border-primary">
    <thead>

    <tr>
        <th>ID</th>
        <th>firstName</th>
        <th>email</th>
        <th>lastName</th>
        <th>Actions</th>


    </tr>

    </thead>
    <tbody>
    <tr th:each="teacher:${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.firstName}"></td>
        <td th:text="${teacher.email}"></td>
        <td th:text="${teacher.lastName}"></td>

        <td>
            <a th:href="@{'/api/teachers/update/'+${teacher.id}}">
                <button>update</button>
            </a>
            <a th:href="@{'/api/teachers/update/'+${teacher.id}}">
                <button>delete</button>
            </a>

        </td>


    </tr>

    </tbody>
</table>
<div>
    <a th:href="@{'/api/teachers/save/' + ${courseId}}">
        <button>save</button>
    </a>
</div>

<br><br>

<div>
    <a th:href="@{'/api/courses/find/by/'+${teacher.get(0).getCourse().getCompany().id}}">
        <button>Go to Courses</button>
    </a>
</div>
<br><br>
<div>
    <a th:href="@{/api/companies}">
        <button>go back</button>
    </a>
</div>


</body>
</html>