<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Teacher</title>
</head>
<body>
<form action="#" th:action="@{'/api/teachers/save/'+${courseId}}" method="post" th:object="${emptyTeacher}">
    <label for="firstName">firstName</label>
    <input id="firstName" th:field="${emptyTeacher.firstName}" placeholder="example">
    <br><br>

    <label for="email">email</label>
    <input id="email" th:field="${emptyTeacher.email}" placeholder="example">
    <br><br>

    <label for="lastName">lastName</label>
    <input id="lastName" th:field="${emptyTeacher.lastName}" placeholder="example">
    <br><br>

    <button type="submit">save</button>
</form>


</body>
</html>