<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Teacher</title>
</head>
<body>
<form action="#"
      th:action="@{'/api/teachers/update/' +${teacherId}}"
      method="post"
      th:object="${updateTeacher}">

    <label for="firstName">firstName</label>
    <input id="firstName" th:field="${updateTeacher.firstName}" placeholder="example">
    <br><br>

    <label for="email">email</label>
    <input id="email" th:field="${updateTeacher.email}" placeholder="example@gmail.com">
    <br><br>

    <label for="lastName">email</label>
    <input id="lastName" th:field="${updateTeacher.lastName}" placeholder="example">
    <br><br>



    <button type="submit">save</button>
</form>

</body>
</html>