

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
</head>
<body>
<table>
    <thead>
    <tr>

        <th>ID</th>
        <th>courseName</th>
        <th>duration</th>
        <th>Groups</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.courseName}"></td>
        <td th:text="${course.duration}"></td>
        <td>
            <a th:href="@{'/api/groups/find/by/'+${course.id}}">
                <button>groups</button>
            </a>
        </td>


    </tr>
    </tbody>
</table>


<div>
    <a th:href="@{'/api/courses/save/' + ${companyId}}">
        <button>save</button>
    </a>
</div>

<br><br>
<div>
    <a th:href="@{/api/companies}">
        <button>go back</button>
    </a>
</div>


</body>
</html>

