<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Groups</title>
</head>
<body>
<table>
    <thead>
    <tr >
        <th>ID</th>
        <th>groupName</th>
        <th>dateOfStart</th>
        <th>dateOfFinish</th>
        <th>courses</th>
        <th>students</th>
    </tr>


    </thead>
    <tbody>
    <tr th:each="group:${groups}">
        <td th:text="${group.id}"></td>
        <td th:text="${group.groupName}"></td>
        <td th:text="${group.dateOfStart}"></td>
        <td th:text="${group.dateOfFinish}"></td>
        <td th:text="${group.courses}"></td>
        <td th:text="${group.students}"></td>


    </tr>

    </tbody>
</table>
<div>
    <a th:href="@{/api/groups/save}">
        <button>save</button>
    </a>
</div>

</body>
</html>