<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Group</title>
</head>
<body>
<form action="#" th:action="@{/api/groups/save}" method="post" th:object="${emptyGroup}">
  <label for="name">Name</label>
  <input id="name" type="text" th:field="${emptyGroup.groupName}" placeholder="example">
  <br><br>
  <label for="dateOfStart">dateOfStart</label>
  <input id="dateOfStart" type="date" th:field="${emptyGroup.dateOfStart}" >
  <br><br>
  <label for="dateOfFinish">dateOfFinish</label>
  <input id="dateOfFinish" type="date" th:field="${emptyGroup.dateOfFinish}" >
  <br><br>
  <label for="courses">courses</label>
  <input id="courses" type="text" th:field="${emptyGroup.courses}">
  <br><br>
  <label for="students">students</label>
  <input id="students" type="text" th:field="${emptyGroup.students}" >
  <br><br>




  <button type="submit">save</button>

</form>
<div>
  <a th:href="@{/api/groups}">
    <button >go back</button>
  </a>
</div>

</body>
</html>
