<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Company</title>
</head>
<body>
<form action="#" th:action="@{/api/companies/save}" method="post" th:object="${emptyCompany}">
    <label for="name">Name</label>
    <input id="name" type="text" th:field="${emptyCompany.companyName}" placeholder="example">
    <br><br>
    <label for="country">Country</label>
    <input id="country" type="text" th:field="${emptyCompany.locatedCountry}" placeholder="RU">
    <br><br>
    <label for="courses">Courses</label>
    <input id="courses" type="text" >
    <br><br>

    <button type="submit">save</button>

</form>
<div>
    <a th:href="@{/api/companies}">
        <button >go back</button>
    </a>
</div>

</body>
</html>
